@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 43.3em) {
      @content;
    } //692px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 59.3em) {
      @content;
    } //948px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 62.5em) {
      @content;
    } //1200px
  }
}
@mixin carousel-arrow {
  width: 2rem;
  height: 2rem;
  background-color: black;
  position: relative;
  display: inline-flex;
  align-items: center;
  left: 42%;
  top: 0.2rem;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

@mixin grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 22%);
  margin: 0 auto;
  justify-items: center;
  justify-content: center;
  grid-gap: 0 2rem;
  @include respond(tab-port) {
    grid-template-columns: repeat(2, 44%);
  }
  @include respond(phone) {
    grid-template-columns: repeat(1, 60%);
  }
}

// footer form inputs

@mixin footerInputs {
  background-color: #1f1f1f;
  padding: 0.8rem 0 0.8rem 1rem;
  border: none;
  border-radius: 6%;
  width: 95%;
}
