.footer__links {
  line-height: 3rem;
  border-bottom: 1px solid $color-lightGrey;
}

.name__input {
  @include footerInputs;
}

.email__input {
  @include footerInputs;
  margin: 1rem 0 1rem 0;
}

.footer__form__submit {
  background-color: #1f1f1f;
  color: $color-primary;
  border: none;
  width: 36%;
  padding: 1rem;
  border-radius: 15%;
}
.page__footer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 60px;
  color: #737373;
  background-color: #2e2e2e;
  align-items: center;
  justify-items: end;
  padding-right: 4.2rem;
  p:not(:last-child) {
    justify-self: start;
    padding-left: 3rem;
  }
}
