* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: $color-black;
}
img {
  max-width: 100%;
}
//  Main container
.wrapper {
  contain: paint;
  width: 96%;
  height: auto;
  margin: 3% 2%;
  background-color: $color-white;

  @include respond(big-desktop) {
    max-width: 1000px;
    margin: 20px auto;
  }
}
